img.title {
    width:250px;
    height:150px;
    margin:40px auto;
    display:block;
    border-radius:5px;
    
}
img.trump {
    height: 120px;
    position: relative;
    bottom:5px;
    border-radius: 50%;
    margin-right:20px;
    cursor:pointer;
}
img.twitter {
    height: 150px;
    border-radius: 50%;
    position:relative;
    bottom:20px;
    cursor:pointer;
}
.homeFlex {
    display: flex;
    justify-content:center;
    width: 25%;
    margin: 150px auto;
}
body {
    background: #212020;
    overflow-x: hidden;
}
.Tweet {
    color:#d3d3d3;
    text-align: center;
    font-size:25px;
    height:200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: center;
}
.row {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
div {
    background: #303030;
}
.subtitle { 
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 20px;
}

